<div class="card shadow mb-4 mt-5 mx-5 bg-secondary ">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">ORDER MANAGEMENT</h6>
                       
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="text-light">Order ID & Date</th>
                                            <th class="text-light">User</th>
                                            <th class="text-light">Total</th>
                                            <th class="text-light">Payment</th>
                                            <th class="text-light">Payment Status</th>
                                            <th class="text-light">Details</th>
                                         
                                           

                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {{#each allorders}}
                                        <tr>
                                            <td class="text-light" >ID: {{this._id}} <br>Date: {{this.ordered_on}}</td>
                                            
                                            <td class="text-light" >ID: {{this._id}} <br>Date: {{this.ordered_on}}</td>
                                            <td  class="text-light">{{this.deliveryDetails.name}} <br>{{this.deliveryDetails.email}}</td>
                                            <td class="text-light" >{{this.grandTotal}}</td>
                                            <td class="text-light">{{this.paymentMethod}}</td>
                                            {{!-- {{#each product}}
                                            <td>{{this.status}}</td>
                                            {{/each}} --}}
                                            <td class="text-light">{{this.payment_status}}</td>
                                           <td class="text-light"><a href="/admin/viewordersinorder/{{this._id}}" class="btn btn-primary">Details</a></td>
                                        </tr>
                                        {{/each}}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>